[submodule "server"]
	path = server
	url = https://github.com/group-h-security/server.git
	branch = proto
[submodule "client"]
	path = client
	url = https://github.com/group-h-security/client.git
	branch = main
[submodule "certificateService"]
	path = certificateService
	url = https://github.com/group-h-security/certificateService.git
	branch = main
