[submodule "server"]
	path = server
	url = https://github.com/group-h-security/server
[submodule "client"]
	path = client
	url = https://github.com/group-h-security/client
[submodule "certificateService"]
	path = certificateService
	url = https://github.com/group-h-security/certificateService
	branch = main
