venv/
runtime/
.gradle/
build/
.idea/
*.log

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
/certificateService/.venv/
/certificateService/logs/flask.pid
/certificateService/logs/flask.out
/certificateService/logs/flask.err
/certificateService/CertsAndKeys/PrivateKeys/root.key
